{% extends 'base.html.twig' %}
    {% block title %}
        <h1>Créez votre classe de personnage</h1>
    {% endblock %}

{% block body %}
    <h1>Créez votre classe de personnage</h1>
    {{ form(form) }}

{% endblock %}


